:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* If you want to change HEX value of --main-button-bg variable 
  you have to change values for rgb variable as well*/
  --main-button-bg: #00247e;
  --main-button-bg--rgb: 0, 36, 126;
  
  --hover-color: #37b3c6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color:#0f0e13;
  overflow-x: hidden;
  background-image: 
    radial-gradient(at 0% 0%, rgb(23, 16, 54) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(16, 36, 92) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(15, 106, 117) 0, transparent 50%);
}
a{
  text-decoration: none;
  color: white;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 10%;
}

@media screen and (max-width: 1090px) {
  .heading-block__title {
    font-size: 3rem;
  }
  .heading-block__wallet-btn {
    padding: 1rem 7.5rem;
  }
}

@media  screen and (max-width: 960px) {
  .main {
    grid-template-columns: 1fr;
    padding-bottom: 70px;
  }
  .main__heading-block {
    text-align: center;
    margin-bottom: 50px;
  }
  .heading-block__items {
    grid-row: 3;
  }
  .main__form-block {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
  }
}

@media  screen and (max-width: 768px) {
  .header{
    background: #140F2B;
    position: fixed;
    width: 100%;
  }
  .container {
    padding: 0 5%;
  }
  .main {
    margin-top: 0;
    padding-top: 8rem;
  }
  .header-grid {
    padding: .5rem .5rem;
  }
  .header__burger-menu,
  .header__burger-close {
    display: block;
  }

  .header__nav-block {
    justify-self: end;
  }
  .header__nav-list {
    grid-template-columns: 1fr;
    gap: 0;
    width: 70%;
    position: absolute;
    right: -100%;
    top: 63px;
    transition: all 0.5s ease;
    text-align: center;
    background: #140F2B;
  }
  .header__nav-list.active {
    right: 0;
    transition: all .5s ease;
    z-index: 10;
  }
  .nav-item {
    display: block;
    padding: 0.5rem 0;
    transition: all .2s ease;
  }
  .nav-item:hover {
    color: white;
    text-shadow: none;
    background: var(--main-button-bg);
  }
}