.main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heading-block__title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}
.heading-block__subtitle {
  font-size: 1rem;
  margin: 1rem 0;
}
.heading-block__wallet-btn {
  font-size: 1rem;
  padding: 1rem 10rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  transition: all .3s ease;
  background-color: var(--main-button-bg);
  color: white;
  cursor: pointer;
}
.heading-block__wallet-btn:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 0px 10px 5px rgba(141, 247, 250, 0.5);
}
.heading-block__items {
  margin-top: 2rem;
  display: grid;
  grid: 1fr  / 1fr 1fr 1fr ;
}
.item:nth-child(1) {
  border-top-left-radius: 2rem;
}
.item:nth-child(3) {
  border-top-right-radius: 2rem;
}
.item:nth-child(4) {
  border-bottom-left-radius: 2rem;
}
.item:nth-child(6) {
  border-bottom-right-radius: 2rem;
}
.item {
  font-size: 1rem;
  border: 1px solid white;
  padding: 2rem .7rem;
  text-align: center;
}
.main__form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.card-item {
  width: 22rem;
  height: 12rem;
  border-radius: 10px;
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.eth-card {
  position: relative;
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.eth-card__eth-icon {
  position: absolute;
  top: 6%;
  left: 5%;
  border: 1px solid white;
  padding: 0.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 100%;
}

.eth-card__info-icon {
  position: absolute;
  top: 6%;
  right: 5%;
}

.eth-card__info-block {
  position: absolute;
  bottom: 6%;
  left: 5%;
}