.footer {
  margin-top: 3rem;
  font-size: .8rem;
  background-color: rgba(var(--main-button-bg--rgb), .3);
}
.footer__top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.footer__nav-list {
  display: flex;
  gap: 3rem;
  font-weight: 700;
}
.footer__bottom-block {
  padding: 2rem 0 1rem;
  text-align: center;
}

.footer__email {
  text-decoration: underline;
}